body {
  background-color: rgb(247, 240, 240);
  font-family: "Faustina", serif;
}

.box {
  display: inline-block;
  border: 1px solid rgb(247, 240, 240);

  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: rgb(247, 240, 240);
}

.on {
  background-color: #d6dadd;
}

.grid {
  max-width: 100%;
  max-height: 100%;
  line-height: 0;
  margin: auto;
  overflow: auto;
  z-index: -1;
}
